* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 10px;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.5em;
    margin-top: 20px;
}

#name , #surname , #email {
    padding: 5px 0;
    font-weight: bold;
    margin-top: 5px;
}

span {
    font-size: 1.5em ;
    margin-top: 4px;
}

.radio , .check {
    line-height: 25px;
}

#comments {
    margin-top: 20px;
    resize: none;
    width: 200px;
    height: 40px
    
}
.comment {
    display: inline-block;
}

#submit {
    padding: 3px;
    
}


